{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <body>
    <b class="screen-overlay"></b>

    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
        <div class="container">
            <div class="row">
                <aside class="col-md-3">
                    <nav class="list-group">
                        <a class="list-group-item" href="{% url 'profile' request.user.id %}">
                            <i class="fas fa-user-cog"></i> Configuración </a>
                        {% if user.is_staff %}
                            <a class="list-group-item active" href="{% url 'list_books' %}">
                                <i class="fas fa-book"></i> Administrar libros </a>
                        {% endif %}
                        <a class="list-group-item" href="{% url 'logout' %}">
                            <i class="fas fa-sign-out-alt"></i> Cerrar sesión </a>
                    </nav>
                </aside> <!-- col.// -->
                <main class="col-md-9">
                    <article class="card mb-3">
                        <div class="card-body">
                            <form method="POST" action="." enctype="multipart/form-data">
                                <div class="card card-default">
                                    <div class="card-header">
                                        <h5 class="card-title">
                                            {% if action == 'add' %}
                                                <i class="fas fa-plus"></i>
                                            {% else %}
                                                <i class="fas fa-edit"></i>
                                            {% endif %}
                                            {{ title }}
                                        </h5>
                                    </div>
                                    <div class="card-body">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="{{ action }}">
                                        {% for field in form.visible_fields %}
                                            <div class="form-group">
                                                <label>{{ field.label }}</label>
                                                {{ field|add_class:'form-control' }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary btn-flat btnTest">
                                            <i class="fas fa-save"></i> Guardar
                                        </button>
                                        <a href="{% url 'list_books' %}" class="btn btn-info btn-flat btnTest">
                                            <i class="fas fa-times"></i> Cancelar
                                        </a>
                                    </div>
                                </div>
                            </form>
                            <script>
                                {% if form.errors %}
                                    var errors = '';
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            errors += '{{ error }}\n';
                                        {% endfor %}
                                    {% endfor %}
                                    Swal.fire({
                                        title: 'Error!',
                                        text: errors,
                                        icon: 'error'
                                    });
                                {% endif %}

                                $('form').on('submit', function (e) {
                                    e.preventDefault();
                                    // var parameters = $(this).serializeArray();
                                    var parameters = new FormData(this);
                                    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                                    $.ajax({
                                        url: window.location.pathname,
                                        type: 'POST',
                                        headers: { 'X-CSRFToken': csrftoken },
                                        data: parameters,
                                        dataType: 'json',
                                        processData: false,
                                        contentType: false,
                                    }).done(function (data) {
                                        if (!data.hasOwnProperty('error')) {
                                            location.href = '{{ list_url }}';
                                            return false;
                                        }
                                        message_error(data.error);
                                    }).fail(function (jqXHR, textStatus, errorThrown) {
                                        alert(textStatus + ': ' + errorThrown);
                                    }).always(function (data) {
                                    });
                                })

                            </script>
                        </div> <!-- card-body .// -->
                    </article> <!-- card.// -->
                </main> <!-- col.// -->
            </div>
        </div> <!-- container .//  -->
    </section>
    </body>
{% endblock %}