{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <body>
    <b class="screen-overlay"></b>
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
        <div class="container">
            <div class="row">
                <aside class="col-md-3">
                    <nav class="list-group">
                        <a class="list-group-item" href="{% url 'profile' request.user.id %}">
                            <i class="fas fa-user-cog"></i> Configuración </a>
                        {% if user.is_staff %}
                            <a class="list-group-item active" href="{% url 'list_books' %}">
                                <i class="fas fa-book"></i> Administrar libros </a>
                        {% endif %}
                        <a class="list-group-item" href="{% url 'logout' %}">
                            <i class="fas fa-sign-out-alt"></i> Cerrar sesión </a>
                    </nav>
                </aside> <!-- col.// -->
                <main class="col-md-9">
                    <article class="card mb-3">
                        <div class="card-body">
                            <form method="POST" action="."> {% csrf_token %}
                                <div class="card card-default">
                                    <div class="card-header">
                                        <h5 class="card-title">
                                            <i class="fas fa-trash"></i> {{ title }}</h5>
                                    </div>
                                    <div class="card-body">
                                        <input type="hidden" name="action" value="{{ action }}">
                                        <div class="alert alert-warning alert-dismissible">
                                            <h5><i class="fas fa-exclamation-triangle"></i> Notificación!</h5>
                                            ¿Estás seguro de eliminar el registro del libro {{ object.title }}?
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary btn-flat btnTest">
                                            <i class="fas fa-trash-alt"></i> Si, aceptar
                                        </button>
                                        <a href="{% url 'list_books' %}" class="btn btn-info btn-flat btnTest">
                                            <i class="fas fa-times"></i> Cancelar
                                        </a>
                                    </div>
                                </div>
                            </form>
                            <script>
                                $('form').on('submit', function (e) {
                                    console.log("function activated");
                                    e.preventDefault();
                                    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                                    $.ajax({
                                        url: window.location.pathname,
                                        type: 'POST',
                                        headers: { 'X-CSRFToken': csrftoken },
                                        data: {}, //parameters,
                                        dataType: 'json'
                                    }).done(function (data) {
                                        if (!data.hasOwnProperty('error')) {
                                            location.href = '{{ list_url }}';
                                            return false;
                                        }
                                        message_error(data.error);
                                    }).fail(function (jqXHR, textStatus, errorThrown) {
                                        alert(textStatus + ': ' + errorThrown);
                                    }).always(function (data) {
                                        // alert("Completado"); always siempre se ejecuta
                                    })
                                })
                            </script>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </section>
    </body>
{% endblock %}