{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body>

    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content bg-white padding-y">
        <div class="container">

            <!-- ============================ ITEM DETAIL ======================== -->
            <div class="row">
                <aside class="col-md-6">
                    <div class="card">
                        <article class="gallery-wrap">
                            <div class="img-big-wrap">
                                <div><a href="#"><img src="{{ book.get_image }}"></a></div>
                            </div> <!-- slider-product.// -->
                        </article> <!-- gallery-wrap .end// -->
                    </div> <!-- card.// -->
                </aside>
                <main class="col-md-6">
                    <article class="product-info-aside">
                        <h2 class="title mt-3">{{ book.title }}</h2>
                        <div class="rating-wrap my-3">
                            <ul class="rating-stars">
                                <li style="width:80%" class="stars-active">
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>
                        </div> <!-- rating-wrap.// -->

                        <dl class="row">
                            <dt class="col-sm-3">Autor(a):</dt>
                            <dd class="col-sm-9"><a href="#">{{ book.author }}</a></dd>

                            <dt class="col-sm-3">Editorial:</dt>
                            <dd class="col-sm-9">{{ book.editorial }}</dd>

                            <dt class="col-sm-3">Encuadernación:</dt>
                            <dd class="col-sm-9">{{ book.binding }}</dd>

                            <dt class="col-sm-3">Numero de paginas:</dt>
                            <dd class="col-sm-9">{{ book.pages }}</dd>

                            <dt class="col-sm-3">Estado:</dt>
                            <dd class="col-sm-9">{{ book.condition }}</dd>

                            <dt class="col-sm-3">Precio:</dt>
                            <dd class="col-sm-9">{{ book.price }}</dd>
                        </dl>
                        {% if not user.is_staff %}
                            <div class="form-row  mt-4">
                                <div class="form-group col-md flex-grow-0">
                                    <div class="input-group mb-3 input-spinner">
                                        <div class="input-group-prepend">
                                            <a href="#"
                                               class="btn btn-outline-secondary" type="button"
                                               id="button-minus"> -
                                            </a>
                                        </div>
                                        <input type="text" class="form-control" readonly="readonly" value="1">
                                        <div class="input-group-append">
                                            <a href="#"
                                               class="btn btn-outline-secondary" type="button"
                                               id="button-plus">
                                                +
                                            </a>
                                        </div>
                                    </div>
                                    <span class="text-muted"> Disponibles {{ book.quantity }}</span>
                                </div>
                                <div class="form-group col-md">
                                    <a href="{% url 'cart:add_product' book.id %}" class="btn btn-primary"><i
                                            class="fa fa-shopping-cart"></i>
                                        <span class="text-center"> Añadir al carrito </span>
                                    </a>
                                    <a href="#" class="btn btn-outline-primary">
                                        <i class=""></i> <span class="text-center"> Reservar </span>
                                    </a>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                        {% endif %}
                    </article> <!-- product-info-aside .// -->
                </main> <!-- col.// -->
            </div> <!-- row.// -->
            <!-- ================ ITEM DETAIL END .// ================= -->
        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

    <!-- ========================= SECTION  ========================= -->

    <section class="section-name padding-y bg">
        <div class="container">
            <div class="bs-example">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#description" class="nav-link active" data-toggle="tab">Descripción</a>
                    </li>
                    <li class="nav-item">
                        <a href="#TechData" class="nav-link" data-toggle="tab">Datos técnicos</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="description">
                        <h4 class="mt-2">Breve reseña, informe etc {{ book.name }}</h4>
                        <p class="text-justify">{{ book.description }}</p>
                    </div>
                    <div class="tab-pane fade" id="TechData">
                        <h4 class="mt-2">Profile tab content</h4>
                        <p>.................. porfa<br>que alguien ponga esto ....................</p>
                    </div>
                </div>
            </div>
        </div> <!-- row.// -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    </body>
{% endblock %}
