{% extends 'base.html' %}
{% load static %}
{% block content %}

    Restablecimiento de contraseña enviado

    Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo
    electrónico que ingresó. Debería recibirlos en breve.

    Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su
    carpeta de correo no deseado.

    <div class="mt-3 mt-md-0">
        <a href="{% url 'index' %}" class="btn btn-outline-primary"><i class="fas fa-sign-in-alt"></i> Ir al inicio </a>
    </div>

{% endblock %}
