{% extends 'base.html' %}
{% load static %}
{% block content %}
<h3 style="text-align: center;">&nbsp;</h3>
<h3 style="text-align: center;">&nbsp;</h3>
<h3 style="text-align: center;"><span style="color: #997352;">Su correo de restablecimiento de contrase&ntilde;a se ha enviado correctamente</span></h3>
<p style="text-align: center;"><span style="color: #997352;"><img src="/static/logo.png" alt="Logo" width="422" height="92" /></span></p>
    <div class="mt-3 mt-md-0" style="text-align: center;"><a class="btn btn-outline-primary" href="{% url 'index' %}"> Ir al inicio </a></div>
    <div class="mt-3 mt-md-0" style="text-align: center;">&nbsp;</div>
    <div class="mt-3 mt-md-0" style="text-align: center;">&nbsp;</div>
{% endblock %}
