{% extends 'simple_base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block header %}
    <script src="{% static 'lib/dataTables-1.10.20/datatables.min.js' %}"></script>
    <script src="{% static 'js/list.js' %}"></script>
    <script src="{% static 'js/form.js' %}"></script>
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
{% endblock %}
{% block content %}
    <body>
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <!-- ============== LA IDEA ES PONER EL LOGO EN LA MITAD Y QUE SESA BONITO, NO SE COMO HACERLO  ============= -->
        <div class="card mx-auto" style="max-width:520px; margin-top:40px;">

            <div class="login-logo">
                <a href="{% url 'index' %}" class="brand-wrap">
                    <img class="logo center-x" src="{% static 'logo.png'%}">
                </a>
            </div>

          <article class="card-body">
            <header class="text-center mb-4"><h4 class="card-title">{{ title }}</h4></header>
            <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}

                <input type="hidden" name="action" value="{{ action }}">

                <div class="form-group align-items-center">
                    <div class="col form-group">
                        <img src="{% static 'images/default-profile.png' %}" height="150" class="d-inline-block align-top rounded-circle"/>
                        {{ form.photo }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="col form-group">
                        <label>Nombre de usuario</label>
                        {{ form.username|add_class:'form-control' }}
                    </div>
                    <div class="col form-group">
                        <label>DNI</label>
                        <input type="text" class="form-control" name="dni" placeholder="123456789">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col form-group">
                        <label>Nombres</label>
                        {{ form.first_name|add_class:'form-control' }}
                    </div> <!-- form-group end.// -->
                    <div class="col form-group">
                        <label>Apellidos</label>
                        {{ form.last_name|add_class:'form-control' }}
                    </div> <!-- form-group end.// -->
                </div>

                <div class="form-group">
                    <label>Correo electrónico</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                    {{ form.email|add_class:'form-control' }}
                    </div>
                    <small class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Fecha de nacimiento</label>
                      {{ form.birthday|add_class:'form-control' }}
                    </div> <!-- form-group end.// -->
                    <div class="form-group col-md-6">
                      <label>Género</label>
                      <select class="form-control" name="gender">
                          <option selected="" value="masculino">Masculino</option>
                          <option value="femenino">Femenino</option>
                          <option value="otro">Otro</option>
                      </select>
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row.// -->

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Crear contraseña</label>
                        {{ form.password1|add_class:'form-control' }}
                        <small id="passwordHelpInline" class="text-muted">Debe tener entre 8-20 caracteres.</small>
                    </div> <!-- form-group end.// -->
                    <div class="form-group col-md-6">
                        <label>Repite la contraseña</label>
                        {{ form.password2|add_class:'form-control' }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.favoriteGenres.label }}
                    {{ form.favoriteGenres}}
                </div>

                <div class="form-group">
                    <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" checked="" name="news" value="True">
                    {{ form.news }}  Activar noticias
                    </label>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Registrarse  </button>
                </div> <!-- form-group// -->

                <div class="form-group">
                    <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" checked="">
                    <div class="custom-control-label"> Estoy deacuerdo con los <a href="#">términos y condiciones</a>  </div>
                    </label>
                </div> <!-- form-group end.// -->


            </form>
          <script>
            {% if form.errors %}
                var errors = '';
                {% for field in form %}
                    {% for error in field.errors %}
                        errors += '{{ error }}\n';
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
                Swal.fire({
                    title: 'Error!',
                    text: errors,
                    icon: 'error'
                });
            {% endif %}
            function submit_with_ajax(url, title, content, parameters, callback) {
    $.confirm({
        theme: 'material',
        title: title,
        icon: 'fa fa-info',
        content: content,
        columnClass: 'small',
        typeAnimated: true,
        cancelButtonClass: 'btn-primary',
        draggable: true,
        dragWindowBorder: false,
        buttons: {
            info: {
                text: "Si",
                btnClass: 'btn-primary',
                action: function () {
                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: parameters,
                        dataType: 'json',
                        processData: false,
                        contentType: false,
                    }).done(function (data) {
                        console.log(data);
                        if (!data.hasOwnProperty('error')) {
                            callback(data);
                            return false;
                        }
                        message_error(data.error);
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus + ': ' + errorThrown);
                    }).always(function (data) {

                    });
                }
            },
            danger: {
                text: "No",
                btnClass: 'btn-red',
                action: function () {

                }
            },
        }
    })
}

function SinConfirmar(url,parameters,callback){
                $.ajax({
                        url: url,
                        type: 'POST',
                        data: parameters,
                        dataType: 'json',
                        processData: false,
                        contentType: false,
                    }).done(function (data) {
                        console.log(data);
                        if (!data.hasOwnProperty('error')) {

                            callback(data);
                            return false;
                        }
                        message_error(data.error);
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus + ': ' + errorThrown);
                    }).always(function (data) {

                    });
            };
          $('form').on('submit', function (e) {
                e.preventDefault();
                var parameters = new FormData(this);

              SinConfirmar(window.location.pathname, parameters, function () {
                  location.href = '{{ list_url }}';
              });

            });
          </script>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
        <p class="text-center mt-4"><a href="{%  url 'login' %}">¿Tienes una cuenta? Iniciar Sesión</a></p>
        <p class="text-center mt-4"><a href="{%  url 'index' %}">Volver al inicio</a></p>
        <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    <script type="application/javascript">
        $(document).ready( function () {


                $('#id_favoriteGenres').select2({
    //theme: 'classic',
    theme: "bootstrap4",
    language: 'es',
    width: '100%',
    placeholder: 'Seleccionar X..'

});

            });
    </script>
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    </body>
{% endblock %}