{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body>
    <b class="screen-overlay"></b>

    <!-- ========================= SECTION PAGETOP ========================= -->
    <section class="section-pagetop bg-gray">
    <div class="container">
        <h2 class=" text-center title-page">Bienvenido {{ user.get_full_name }}</h2>
    </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION PAGETOP END// ========================= -->
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
    <div class="container">

    <div class="row">
        <aside class="col-md-3">
            <nav class="list-group">
            <a class="list-group-item active" href="#">
                <i class="fas fa-user-cog"></i> Configuración  </a>
            {%  if not user.is_staff %}
                <a class="list-group-item" href="#">
                    <i class="fas fa-history"></i> Historial de compras </a>
                <a class="list-group-item" href="#">
                    <i class="fas fa-credit-card"></i></i> Métodos de pago </a>
                <a class="list-group-item" href="#">
                    <i class='fas fa-user-friends'></i> Red de amigos </a>
            {%  endif  %}
            <a class="list-group-item" href="{%  url 'logout' %}">
                <i class="fas fa-sign-out-alt"></i> Cerrar sesión </a>
        </nav>
    </aside> <!-- col.// -->
    <main class="col-md-9">

        <article class="card mb-3">
            <div class="card-body">
                <figure class="icontext">
                        <div class="icon">
                            <img class="rounded-circle img-md border" src="{{ user.photo.url }}">
                        </div>
                        <div class="text">
                            <strong style="font-size: large"> {{ user.username }} </strong> <br>
                            <strong> {{ user.first_name }} {{ user.last_name }} </strong>
                            <p class="mb-2"> {{ user.email }}  </p>
                            <a href="#" class="btn btn-light btn-sm">Editar </a>
                        </div>
                </figure>
                <hr>
                <p>
                    <i class="fa fa-map-marker text-muted"></i> &nbsp; Mi dirección:
                     <br>
                <p class="mb-1"> {{ user.address }} </p>
                    <a href="#" class="btn btn-light btn-sm"> Editar </a>
                </p>
            </div> <!-- card-body .// -->
        </article> <!-- card.// -->

        <article class="card  mb-3">
            <div class="card-body">
                <h5 class="card-title mb-4">Recent orders </h5>

                <div class="row">
                <div class="col-md-6">
                    <figure class="itemside  mb-3">
                        <div class="aside"><img src="{% static 'images/items/1.jpg' %}" class="border img-sm"></div>
                        <figcaption class="info">
                            <time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
                            <p>Great book name goes here </p>
                            <span class="text-success">Order confirmed </span>
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->
            </div> <!-- row.// -->

            <a href="#" class="btn btn-outline-primary btn-block"> See all orders <i class="fa fa-chevron-down"></i>  </a>
            </div> <!-- card-body .// -->
        </article> <!-- card.// -->

    </main> <!-- col.// -->
    </div>

    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

    </body>
{% endblock %}