{% extends 'simple_base.html' %}
{% load static %}
{% block content %}
    <body>
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
          <div class="card-body">
          <h4 class="text-center card-title mb-4">Recuperar contraseña</h4>

              {% if error %}
                  <p class="alert alert-danger">{{ error }}</p>
              {% endif%}

          <form method="POST">
              {% csrf_token %}

              <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>

                    <input type="email" class="form-control" name="email" id="id_email" placeholder="ejemplo@lamancha.com" required>
                    </div>
                    <small class="text-center form-text text-muted">Enviaremos un enlace a tu correo para la recuperación.</small>
                </div> <!-- form-group end.// -->

                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="g-recaptcha" data-sitekey="6LfPJeAZAAAAAPriNEiRaOmjBzQB1C9KOrKzszCZ"></div>

              <div class="col-lg-12">
                  <button type="submit" class="btn btn-primary btn-block">
                      <i class="fas fa-envelope"></i> Enviar </button>
              </div> <!-- form-group// -->
              <p class="text-center mt-4"><a href="{%  url 'signup' %}">¿No tienes una cuenta? Regístrate</a></p>
              <p class="text-center mt-0"><a href="{%  url 'home' %}">Volver al inicio</a></p>
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
         <br><br>
    </section>
    </body>
{% endblock %}